<!DOCTYPE html>
<html>
<head>
  <title>Rejestracja</title>
</head>
<body>
<div class="container">
  <div style="width:600px;margin-left: auto;margin-right: auto;margin-top:24px;padding: 24px;">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-user"></i> Zarejestruj się
      </div>
      <div class="card-block" style="padding: 24px;">
        <form #f="ngForm" >
          <!-- Spring Security error display -->
          <div *ngIf="showEmailError" class="alert alert-danger">
          Wpisany e-mail już istnieje. Wpisz unikatowy.
        </div>

          <div *ngIf="showPasswordError" class="alert alert-danger">
            Hasła są różne.
          </div>

          <!-- Register Controls -->
          <div class="form-group">
            <label for="username">E-mail</label>
            <input type="text"
                 class="form-control"
                 id="username"
                 name="username"
                 placeholder="jan.kowalski@poczta.pl"
                 [(ngModel)]="model.username">
          </div>

          <div class="form-group">
            <label for="name">Imię</label>
            <input type="text"
                   class="form-control"
                   id="name"
                   name="name"
                   placeholder="Jan"
                   [(ngModel)]="model.name">
          </div>

          <div class="form-group">
            <label for="surname">Nazwisko</label>
            <input type="text"
                   class="form-control"
                   id="surname"
                   name="surname"
                   placeholder="Kowalski"
                   [(ngModel)]="model.surname">
          </div>

          <div class="form-group">
            <label for="password">Hasło</label>
            <input type="password"
                   class="form-control"
                   id="password"
                   name="password"
                   placeholder="*****"
                   [(ngModel)]="model.password">
          </div>

          <div class="form-group">
            <label for="password2">Powtórz hasło</label>
            <input type="password"
                   class="form-control"
                   id="password2"
                   name="password2"
                   placeholder="*****"
                   [(ngModel)]="model.password2">
          </div>

          <!-- Register Button (click)="register()" -->
          <div class="form-actions" style="margin-top: 12px;margin-bottom: 24px;">
            <button type="submit" routerLink="/home" class="btn btn-outline-success" style="margin-right: 12px;">Zarejestruj</button>
            <button class="btn btn-outline-danger" routerLink="/login">Anuluj</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
