<app-navigattion></app-navigattion>
<h2>Dodaj wizytę</h2>
<br>
<form #f="ngForm" >
  <!-- Spring Security error display -->
  <div *ngIf="showVisitExistsError" class="alert alert-danger">
    Wizyta już istnieje.
  </div>

  <!-- Controls -->
  <div class="form-group">
    <label for="name">Data</label>
    <input type="text"
           class="form-control"
           id="name"
           name="name"
           placeholder="2020-01-01"
           [(ngModel)]="date">
  </div>

  <div class="form-group">
    <label for="spec">Godzina</label>
    <input type="text"
           class="form-control"
           id="spec"
           name="spec"
           placeholder="13.10"
           [(ngModel)]="time">
  </div>

  <div class="form-group">
    <label for="surname">Identyfikator lekarza</label>
    <input type="text"
           class="form-control"
           id="surname"
           name="surname"
           placeholder="1"
           [(ngModel)]="doctor">
  </div>

  <div class="form-actions" style="margin-top: 12px;margin-bottom: 24px;">
    <button type="submit" (click)="confirm()" class="btn btn-outline-success" style="margin-right: 12px;">Potwierdź</button>
    <button class="btn btn-outline-danger" routerLink="/home">Anuluj</button>
  </div>
</form>
