<!DOCTYPE html>
<html>
<head>
  <title>Logowanie</title>
</head>
<body>
<div class="container">
  <div style="width:600px;margin-left: auto;margin-right: auto;margin-top:24px;padding: 24px;">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-user"></i> Log in to the {{title}}
      </div>
      <div class="card-block" style="padding: 24px;">
        <form #f="ngForm" >
            <!-- Spring Security error display -->
            <div *ngIf="showError" class="alert alert-danger">
              Log in error. Check credentials.
            </div>

            <div *ngIf="showLogout" class="alert alert-info">
              Log out success !
            </div>

            <!-- Login Controls -->
            <div class="form-group">
              <label for="username">E-mail</label>
              <input type="text"
                     class="form-control"
                     id="username"
                     name="username"
                     placeholder="jan.kowalski@poczta.pl"
                     [(ngModel)]="username">
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="password"
                     class="form-control"
                     id="password"
                     name="password"
                     placeholder="*****"
                     [(ngModel)]="password">
            </div>

            <!-- Login Button  -->
            <div class="form-actions" style="margin-top: 12px;margin-bottom: 24px;">
              <button type="submit" (click)="login()" class="btn btn-outline-success" style="margin-right: 12px;">Log in</button>
              <button class="btn btn-outline-primary" routerLink="/loginGoogle">Log in with Google account</button>
            </div>

            <div>
              Don't have an account ? <a routerLink="/register">Register now</a>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
