<app-navigattion></app-navigattion>
<div class="form-group" style="color:darkslategray;">
  <h1>Wyszukaj wolne wizyty: </h1>
</div>
<!-- Search form -->
<form>
  <div class="form-inline" style="padding-top: 10px">
  <label for="spec" style="margin-right: 10px;">Specjalność lekarza:</label>
  <input class="form-control form-control-sm mr-4 w-75" id="spec" name="spec" type="text" placeholder="Wyszukaj lekarza po specjalości"
         [(ngModel)]="filteredSpec">
  </div>
  <div class="form-inline" style="padding-top: 10px">
    <label>Rate date:</label>
  </div>
  <div class="form-inline" style="padding-top: 10px">
    <label for="dateFrom" style="margin-right: 10px">Od: </label>
    <input id="dateFrom" name="dateFrom" [(ngModel)]="filteredDateFrom" type="date" class="form-control form-control-sm mr-3 w-20">
    <label for="dateTo" style="margin-right: 10px">Do: </label>
    <input id="dateTo" name="dateTo" [(ngModel)]="filteredDateTo" type="date" class="form-control form-control-sm mr-3 w-20">
  </div>
  <div class="form-inline" style="padding-top: 15px; padding-bottom: 20px">
    <button (click)="search()" class="btn btn-outline-secondary">Wyszukaj</button>
  </div>
</form><br>

<table *ngIf="isTableVisible" class="table table-dark table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Specjalność</th>
      <th>Lekarz</th>
      <th>Data</th>
      <th>Godzina</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let visit of visits; let i = index" (click)="launchBooking(i)" >
      <td>{{visits.indexOf(visit) + 1}}</td>
      <td>{{(doctors[visit.doctor - 1]).spec}}</td>
      <td>{{(doctors[visit.doctor - 1]).surname + ' ' + doctors[visit.doctor - 1].name}}</td>
      <td>{{visit.date}}</td>
      <td>{{visit.time}}</td>
    </tr>
  </tbody>
</table>
<div class="well well-lg">
  {{messageNoVisit}}
</div>
