<app-navigattion></app-navigattion>
<div class="form-group" style="color:darkslategray;">
  <h1>Search for unoccupied visits: </h1>
</div>
<!-- Search form -->
<form>
  <div class="form-inline" style="padding-top: 10px">
  <label for="spec" style="margin-right: 10px;">Doctor's spec:</label>
  <input class="form-control form-control-sm mr-4 w-75" id="spec" name="spec" type="text" placeholder="Search doctor by spec"
         [(ngModel)]="filteredSpec">
  </div>
  <div class="form-inline" style="padding-top: 10px">
    <label>Rate date:</label>
  </div>
  <div class="form-inline" style="padding-top: 10px">
    <label for="dateFrom" style="margin-right: 10px">From: </label>
    <input id="dateFrom" name="dateFrom" [(ngModel)]="filteredDateFrom" type="date" class="form-control form-control-sm mr-3 w-20">
    <label for="dateTo" style="margin-right: 10px">To: </label>
    <input id="dateTo" name="dateTo" [(ngModel)]="filteredDateTo" type="date" class="form-control form-control-sm mr-3 w-20">
  </div>
  <div class="form-inline" style="padding-top: 15px; padding-bottom: 20px">
    <button (click)="search()" class="btn btn-outline-secondary">Search</button>
  </div>
</form>
<table *ngIf="isTableVisible" class="table table-dark table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Spec</th>
      <th>Doctor</th>
      <th>Date</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let visit of visits; let i = index" (click)="setClickedRow(i)" >
      <td>{{i+1}}</td>
      <td>{{visit.doctor.spec}}</td>
      <td>{{visit.doctor.name + visit.doctor.surname}}</td>
      <td>{{visit.date}}</td>
      <td>{{visit.time}}</td>
    </tr>
  </tbody>
</table>

<div class="well well-lg">
  Selected Row : <strong>{{selectedRow}}</strong>
</div>
